{% extends "base/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Пароль успешно изменен</h2>
                </div>
                <div class="card-body">
                    <p>Ваш пароль был успешно изменен. Теперь вы можете войти в систему с новым паролем.</p>
                    <div class="border-top pt-3 mt-3">
                        <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
